<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winery.winerymobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".ui.AppMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_winery3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_winery3_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Recontest.ReviewDataCustomerRecontestActivity"></activity>
        <activity android:name=".ui.Recontest.ChangeDocumentRecontestActivity" />
        <activity android:name=".ui.Recontest.DetailDataCustomerRecontestActivity">

        </activity>
        <activity android:name=".ui.DuplicateCheckCustomer.ListCheckDataDuplicate" />
        <activity android:name=".ui.DetailHistoryTransactionInputJurtul" />
        <activity android:name=".ui.JurtulTransaction.JurtulSubmissionForm" />
        <activity android:name=".ui.VerifikatorTransaction.FormSubmitSelectionBank" />
        <activity android:name=".ui.JurtulTransaction.ListTransactionDetailPendingJurtul" />
        <activity android:name=".ui.JurtulTransaction.ListTransacationPendingJurtul" />
        <activity android:name=".ui.DetailHistoryTransaksiInputVerif" />
        <activity android:name=".ui.VerifikatorTransaction.UploadDataKotorVerif" />
        <activity android:name=".ui.VerifikatorTransaction.ListTransactionDetailWaitingVerif" />
        <activity android:name=".ui.VerifikatorTransaction.ListTransactionWaitingVerif" />
        <activity android:name=".ui.DetailHistoryTransactionInputSales" />
        <activity android:name=".ui.ListHistoryEntryCC" />
        <activity android:name=".ui.CreditCardSubmission.FormUploadDocumentSelfie" />
        <activity android:name=".ui.CreditCardSubmission.FormUploadDocument" />
        <activity
            android:name=".ui.CreditCardSubmission.CustomerDataForm"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.CreditCardSubmission.BankSubmissionForm" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.ParentHomeActivity">

        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>